$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar hover样式 侧边栏
$menuBg:#304156;
$subMenuBg:#304156;
// $menuBg:#409EFF;
// $subMenuBg:#409EFF;
$menuHover:#E65D6E;
